/* Input Aç Kapa Özelliği */

#mdly {
    display: none;
}

#mdly:checked + .mdly-overlay{
    display: none;
}

/* Input Aç Kapa Özelliği Bitimi */

/* Backgroundlar */

.b {
    background: rgba(0,0,0, .3);
}

.k {
    background: rgba(156, 77, 77, 0.3);
}

.s {
    background: rgba(156, 150, 77, 0.3);
}

.y {
    background: rgba(96, 156, 77, 0.3);
}

.m {
    background: rgba(77, 156, 149, 0.3);
}

/* Backgroundlar Bitimi */

/* Modal Stillendirme */

.mdly-overlay {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.mdly-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;   
}

.mdly-c {
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    padding: 40px 25px 25px 25px;
    position: relative;
}

.mdly-c a {
    color: #4078c0;
    font-weight: bold;
}

label.mdly-cls {
    background: #E60000;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: block;
    padding: 5px;
    position: absolute;
    top:10px;
    right:10px;
}

label.mdly-cls:hover {
    background: #A70101;
}

/* Modal Stillendirme Bitimi */

/* Animasyon Classları */

.fadein {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

.up {
    -webkit-animation-name: Up;
            animation-name: Up;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

.down {
    -webkit-animation-name: Down;
            animation-name: Down;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

.left {
    -webkit-animation-name: Left;
            animation-name: Left;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

.right {
    -webkit-animation-name: Right;
            animation-name: Right;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

.scale {
    -webkit-animation-name: Scale;
            animation-name: Scale;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

.shake-x {
    -webkit-animation-name: ShakeX;
            animation-name: ShakeX;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

.shake-y {
    -webkit-animation-name: ShakeY;
            animation-name: ShakeY;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

.rotate {
    -webkit-animation-name: Rotate;
            animation-name: Rotate;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

/* Animasyon Classları Bitimi */

/* Animasyon Kodları */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@-webkit-keyframes Up {
    from {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes Up {
    from {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes Left {
    from {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes Left {
    from {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes Right {
    from {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes Right {
    from {
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes Scale {
    from {
        -webkit-transform: scale(0.3);
                transform: scale(0.3);
    }
    
    to {
        -webkit-transform: translateX(1);
                transform: translateX(1);
    }
}

@keyframes Scale {
    from {
        -webkit-transform: scale(0.3);
                transform: scale(0.3);
    }
    
    to {
        -webkit-transform: translateX(1);
                transform: translateX(1);
    }
}

@-webkit-keyframes ShakeX {
    0% {
        -webkit-transform: translateX(40px);
                transform: translateX(40px);
    }
    
    25% {
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
    }
    50% {
        -webkit-transform: translateX(40px);
                transform: translateX(40px);
    }
    
    75% {
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
    }
    
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    
}

@keyframes ShakeX {
    0% {
        -webkit-transform: translateX(40px);
                transform: translateX(40px);
    }
    
    25% {
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
    }
    50% {
        -webkit-transform: translateX(40px);
                transform: translateX(40px);
    }
    
    75% {
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
    }
    
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    
}

@-webkit-keyframes ShakeY {
    0% {
        -webkit-transform: translateY(40px);
                transform: translateY(40px);
    }
    
    25% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    50% {
        -webkit-transform: translateY(40px);
                transform: translateY(40px);
    }
    
    75% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    
}

@keyframes ShakeY {
    0% {
        -webkit-transform: translateY(40px);
                transform: translateY(40px);
    }
    
    25% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    50% {
        -webkit-transform: translateY(40px);
                transform: translateY(40px);
    }
    
    75% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    
}

@-webkit-keyframes Rotate {
    from {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    
}

@keyframes Rotate {
    from {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    
}

@-webkit-keyframes Down {
    from {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    
}

@keyframes Down {
    from {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    
}

/* Animasyon Kodları Bitimi */
